<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [8]:
import streamlit as st
# To make things easier later, we're also importing numpy and pandas for
# working with sample data.
import numpy as np
import pandas as pd

In [9]:
df_online=pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/media-mentions-2020/online_weekly.csv")
df_online.head()

,date,name,matched_stories,all_candidate_stories,pct_of_all_candidate_stories,query
0,2018-12-30,Amy Klobuchar,45.0,806,0.055831,"(""Amy Klobuchar"")"
1,2019-01-06,Amy Klobuchar,55.0,915,0.060109,"(""Amy Klobuchar"")"
2,2019-01-13,Amy Klobuchar,128.0,1052,0.121673,"(""Amy Klobuchar"")"
3,2019-01-20,Amy Klobuchar,55.0,1024,0.053711,"(""Amy Klobuchar"")"
4,2019-01-27,Amy Klobuchar,74.0,1605,0.046106,"(""Amy Klobuchar"")"

In [10]:
dfO= df_online[['name','matched_stories']]

dfO= dfO.groupby("name")["matched_stories"].sum()
dfO = pd.DataFrame(dfO)

dfToShow= dfO.sort_values("matched_stories", ascending=False)
dfToShow.head()

                  matched_stories
name
Joe Biden                 32355.0
Bernie Sanders            26150.0
Elizabeth Warren          25888.0
Kamala Harris             18629.0
Pete Buttigieg            12171.0

import streamlit as st
st.bar_chart(dfToShow)